<div class="center jumbotron">
<section align="center">
  <h1>Welcome to the Brandeis Class Hub</h1>
  </div>
</section>

<section align="center">
<%# <%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
<%# <%= link_to "Log in", "#", class: "btn btn-lg btn-primary" %> 
<%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %>
</section>





