<div class="center jumbotron">
<section align="center">
  <h2>Welcome to the Brandeis Class Hub</h2>
</section>

  <%# <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
  <%# <%= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %> 
</div>

<%= link_to image_tag("branCH.png", alt: "logo", width: "200") %> 