<div class="container new-calendar-page" align="center">
    <div>
        <h1> Subscribe to More Calendars </h1>
            <h4> Option 1: Paste the calendar token link and subscribe </h4>
            <form name="myform" class="form-inline">
                <textarea name="outputtext" rows="1" column="2" placeholder="Paste the calendar link"></textarea>
                <button type="submit" value="submit" class="subscribe btn btn-sm btn-primary" id="subscribe"> Subscribe to the calendar </button>
            </form>
            <h4> Option 2: Search keywords for public calendars </h4>
            <form class = "form-inline" action="/search">
                <input name ="q" rows="1" type = "text" placeholder="Search a public calendar" aria-label = "Search">
                <button class = "btn btn-sm btn-primary" type="search"> Search </button> 
            </form>
        </div>
</div>