<div id="<%= dom_id user_calendar %>">
  <p>
    <strong>User:</strong>
    <%= user_calendar.user_id %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= user_calendar.calendar_id %>
  </p>

</div>
