<p style="color: green"><%= notice %></p>

<h1>User calendars</h1>

<div id="user_calendars">
  <% @user_calendars.each do |user_calendar| %>
    <%= render user_calendar %>
    <p>
      <%= link_to "Show this user calendar", user_calendar %>
    </p>
  <% end %>
</div>

<%= link_to "New user calendar", new_user_calendar_path %>
