

<%= render @user_calendar %>

<div>
  <%= link_to "Edit this user calendar", edit_user_calendar_path(@user_calendar) %> |
  <%= link_to "Back to user calendars", user_calendars_path %>

  <%= button_to "Delete this user calendar", @user_calendar, method: :delete %>
</div>
