<div id="<%= dom_id class_period %>">
  <p>
    <strong>Course:</strong>
    <%= class_period.course_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= class_period.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= class_period.end_time %>
  </p>

</div>
