<h1><%= @class_period.name %> </h1>

<%= render "form", class_period: @class_period %>

<br>

<div>
  <%= link_to "Show this class period", @class_period %> |
  <%= link_to "Back to class periods", class_periods_path %>
</div>
