<div>
    <% require_relative '../../lib/day.rb' %>
    <div>
        <% if day %>
            <div class="day-calendar-item">
                <strong><%= day.day %></strong>
                <% day.load_events.each do |event| %>
                    <p><%= event.name %></p>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
