<div>
    <% require 'Day' %>
    <div>
        <% if day %>
            <div class="day-calendar-item">
                <strong><%= day.day %></strong><br>
                <% day.load_events.each do |event| %>
                    <% if (event.is_a? Holiday) %>
                    <%    url = "#{holidays_url}/#{event.id}" %>
                    <% elsif (event.is_a? Assignment) %>
                    <%    url = "#{assignments_url}/#{event.id}" %>
                    <% elsif (event.is_a? ClassPeriod) %>
                    <%    url = "#{class_periods_url}/#{event.id}" %>
                    <% else %>
                    <%    url = "#{other_events_url}/#{event.id}" %>
                    <% end %>
                    <%= link_to event.name, url %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>