<div class="prev-next-button" align="center">
    <%= link_to "Previous Day", home_calendar_path(date: day.prev, view: :day), method: :post, class:"btn btn-lg btn-primary"%>
    <%= link_to "Next Day", home_calendar_path(date: day.next, view: :day), method: :post, class:"btn btn-lg btn-primary"%>
    <p class="calendar-label h2-styling"><%= day.day_of_week %></p>
</div>