<div>
    <% require_relative '../../lib/day.rb' %>
    <% require_relative '../../lib/event.rb' %>
    <% paths = {calendar:calendars_url, assignment: assignments_url,
    class_period: class_periods_url, other_event: other_events_url} %>
    <div>
        <% if day %>
            <div class="day-calendar-item">
                <strong><%= day.day %></strong><br>
                <% range = Event.getRange(@view) %>
                <% day.load_events[range].each do |event| %>
                    <% url = Event.getURL(event, paths) %>
                    <% color = Event.getColor(event) %>
                    <div class='event' id= '<%= color %>' >
                        <%= link_to event.name, "#{url}?date=#{day.params_date}", class: "eventFont"%>
                    </div>
                <% end %>
                <% if day.load_events.length() > 2 && @view != 'day' %>
                    <%= link_to 'more', home_calendar_path(date: day.params_date, view: :day) %>
                <% end %>
            </div>
        <% end %>
    </div>

</div>
