<div class="calendar-container">
    <h2 class="day_title">Monday</h2>
    <h2 class="day_title">Tuesday</h2>
    <h2 class="day_title">Wednesday</h2>
    <h2 class="day_title">Thursday</h2>
    <h2 class="day_title">Friday</h2>
    <h2 class="day_title">Saturday</h2>
    <h2 class="day_title">Sunday</h2>
</div>