<div class="calendar-container">
    <p class="day_title h2-styling">Sunday</p>
    <p class="day_title h2-styling">Monday</p>
    <p class="day_title h2-styling">Tuesday</p>
    <p class="day_title h2-styling">Wednesday</p>
    <p class="day_title h2-styling">Thursday</p>
    <p class="day_title h2-styling">Friday</p>
    <p class="day_title h2-styling">Saturday</p>
</div>