<div>
    <%= link_to "Last Week", home_calendar_path(date: week.prev, view: :week), method: :post%>
    <%= link_to "Next Week", home_calendar_path(date: week.next, view: :week), method: :post%>
</div>