<div id="<%= dom_id event %>">
  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event.event_id %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= event.event_category %>
  </p>

</div>
