<div id="<%= dom_id event %>">
  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id %>
    <%# test %>
    <%# <%= calendar.calendar_name %> 
  </p>

  <p>
    <strong>Event category:</strong>
    <%= event.event_category %>
  </p>

</div>
