<div id="<%= dom_id event %>">
  <p>
    <strong>Content:</strong>
    <%= event.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Event id:</strong>
    <%= event.event_id%>
  </p>


</div>
