<% require_relative("../../../lib/assets/calendar_info") %>

<% month = 10 %>
<% year = 2022 %>
<% c = CalendarInfo.new(month, year) %>

<p class="month-year-title">
  <%= "#{c.get_month_name(month)}, #{year}" %>
</p>

<div class="calendar-container">
  <% c.get_days_of_week.each do |day| %>
    <div class="day-of-week-item">
      <p>
        <%= day %>
      <p>
    </div>
  <% end %>

  <% c.get_dates().each do |date| %>
    <div class="day-calender-item">
      <p>
        <%= date %>
      </p>
    </div>
  <% end %>
</div>