<% require 'Month' %>
<% month = Month.new(10, 2022) %>
<div>
  <h1 class="text-center">
    <%= month.get_month_year %>
  </h1>
  <%= link_to "Next Month", calendars_index_path, method: "increase_month" %>
  <%= render 'calendar_display', :month => month%>
</div>
