<h1> <%= @other_event.name %> </h1>

<%= render "form", other_event: @other_event %>

<br>

<div>
  <%= link_to "Show this other event", @other_event %> |
  <%= link_to "Back to other events", other_events_path %>
</div>
