<h1> Edit Event Information </h1>

<%= render "form", other_event: @other_event %>

<br>

<div>
  <%= link_to "Show this event", @other_event %> |
  <%= link_to "Back to events", other_events_path %>
</div>
