@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 60px;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center {
text-align: center;
h1 {
    margin-bottom: 10px;
}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $gray-light;
}

p {
font-size: 1.1em;
line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* calendar */

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 200px);
}

.day-calender-item {
    background-color: beige;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.day-of-week-item {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.month-year-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

}

.border {
    color: black;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Dropdown menu */

.dropdown-menu.active {
    display: block;
  }


/* Calendar */
#datepicker {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
}

#datepickerButton {
  width: 100px;
}

.datepicker-box {
  padding-right: 50px;
}

.prev-next-button {
  padding-bottom: 10px;
  padding-top: 10px;
}


.calendar-page {
  margin: 100px;
  padding: 20px;
  background-color: rgba(121, 121, 121, 0.75);
  border-radius: 10px;
  border-width: 10px;
  border-style: ridge;
}
.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 150px);
}

.day-calendar-item {
    background-color: #f4fcff;
    padding: 20px;
    height: 100px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(185, 185, 185)
}

.day_title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS';
}

#holidayEvent {
  background-color: rgb(91, 187, 255);
  color: rgb(91, 187, 255);
}

#assignmentEvent {
  background-color: rgb(126, 255, 126);
  color: rgb(126, 255, 126)
}

#classPeriodEvent {
  background-color: pink;
  color: pink;
}

#otherEvent {
  background-color: rgb(255, 196, 88);
  color: rgb(255, 196, 88);
}

.eventFont {
  color: black;
}

.main-template {
  background-image: url("backgrounds/background1.jpg");
  background-size: cover;
  min-width: 100%;

}

.event-box {
  border:rgb(44, 44, 44);
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-style: ridge;
  width: 400px;
  padding: 10px;
  margin-bottom: 1000px;
  background-color: rgba(255, 244, 224, 0.5);
}

.submit-button {
  background-color: orange;
}

.view-container {
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 314px;
}

#datepicker-submit {
  width: 100px;
}

.calendar-label {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS';
}

.delete-button {
  margin-top: 5px;
}

.profile-pic {
  margin-bottom: 5px;
}