@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Merriweather", sans-serif;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center {
text-align: center;
h1 {
    margin-bottom: 10px;
}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    margin-top:65px;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600 weight;
}

h2 {
  font-size: 2em;
  font-weight: 600 weight;
}

h2 {
  font-size: 1.75em;
  font-weight: 600 weight;
}

.h2-styling{
  font-size: 1.2em;
  letter-spacing: -1px;
  padding-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
font-size: 1.1em;
line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* calendar */

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(10px, 1fr));
    padding-left:45px;
    padding-right:45px;
}

.day-calender-item {
    background-color: beige;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.day-of-week-item {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.month-year-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

}

.border {
    color: black;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Dropdown menu */

.dropdown-menu.active {
    display: block;
    text-align: center;
  }


/* Calendar */
#datepicker {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  display: inline-block;
}

#datepickerButton {
  width: 100px;
}

.datepicker-box {
  padding-right: 50px;
  margin-top:-30px;
}

.calendar-event-form{
  margin-top:-5px;
}

.prev-next-button {
  padding-bottom: 10px;
  padding-top: 10px;
}


.calendar-page {
  margin-top:50px;
  margin-bottom: 100px;
  margin-left:100px;
  margin-right:100px;
  padding: 20px;
  background-color: rgba(235, 230, 230, 0.75);
  border-radius: 5px;
  border-width: 5px;
  border: 5px solid #385988;
}
.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 150px);
}

.day-calendar-item {
    background-color: #f4fcff;
    padding: 20px;
    padding-left:20px;
    padding-right:20px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(185, 185, 185);
}

.day_event_list{
  overflow-y: auto;
  max-height: 400px;
}

.day_title {
  text-align: center;
  color: black;
  font-family: "Whitney", sans-serif;
}

.event {
  margin-top: 5px;
  margin-bottom: 5px;
}

#holidayEvent {
  background-color: rgb(91, 187, 255);
  color: rgb(91, 187, 255);
}

#assignmentEvent {
  background-color: rgb(126, 255, 126);
  color: rgb(126, 255, 126)
}

#classPeriodEvent {
  background-color: pink;
  color: pink;
}

#otherEvent {
  background-color: rgb(255, 196, 88);
  color: rgb(255, 196, 88);
}

#new-event {
  color: white;
}

.eventFont {
  color: black;
}

.main-template {
  background-size: cover;
  min-width: 100%;
  min-height: 600px;
}

.event-box {
  border: 5px solid #385988;
  border-radius: 5px;
  border-width: 5px;
  margin-top: 10px;
  width: 400px;
  padding: 10px;
  margin-bottom: 1000px;
  background-color:rgba(235, 230, 230, 0.75);
}

.submit-button {
  background-color: orange;
}

.view-container {
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-left:45px;
  border-radius: 10px;
  width: 350px;
  display: inline-block
}

.view-event-button{
  margin-left: 45px;
}

.repitition-container {
  align-items: center;
  background-color: white;
  padding: 1px;
  border-radius: 10px;
  display: inline-block
}

#datepicker-submit {
  width: 100px;
}

.calendar-label {
  color: black;
  font-family: "Whitney", sans-serif;
  margin-top: -5px;
}

.delete-button {
  margin-top: 5px;
}

.profile-pic {
  margin-bottom: 5px;
}

.calendar-details-page {
  margin-left: 100px;
  margin-right:100px;
  margin-bottom:100px;
  padding: 20px;
  background-color: rgba(235, 230, 230, 0.75);
  border-radius: 10px;
  border-width: 10px;
  //brandeis blue
  border: 5px solid #385988;
}

.calendar-overview{
  background: #f8f8f8;
  font-size: medium;
  font-style: italic;
  text-align: center;
  margin: auto;
  width: 100%;
  // border-radius: 5px;
  // border-width: 5px;
  // border-style: ridge;
  padding: 10px;
}

.calendar-table{
  margin-top: 20px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table tr {
  border: 1px solid #ddd;
  background: #f8f8f8;
  padding: .35em;
}


 table th,
table td {
  padding: .625em;
  text-align: left;
}

 table th {
  background: #999;
  color: #fff;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  table-layout: fixed;
  width: 100%;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body{
  margin: 0;
  vertical-align: middle;
}

.calendar-event-box {
  width: 100%;
  padding: 10px;
  margin: auto;
  background-color:#f8f8f8;
}

.calendar-list-page {
  margin: auto;
  width: 80%;
  // padding: 20px;
  background-color: rgba(235, 230, 230, 0.75);
  border-radius: 10px;
  border-width: 10px;
  //brandeis blue
  border: 5px solid #385988;
}

.new-calendar-page {
  padding-top:20px;
  margin: auto;
  width: 80%;
  // padding: 20px;
  background-color: rgba(235, 230, 230, 0.75);
  border-radius: 10px;
  border-width: 10px;
  //brandeis blue
  border: 5px solid #385988;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
/* Style the input fields */
.form-inline textarea {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline button {
  margin: auto;
  width: 20%;
}
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}


.search-calendar-button {
  padding:20px;
  margin: auto;
}


.subscribe-button{
  margin-bottom:5px;
  width: 200px;
}

.weekday-selector{
  width: 5%;
  margin-left: -60%;
  white-space: nowrap;
}

.search-form-input{
  width: 60%;
  padding:10px;
}


.intro-container{
  padding-top:20px;
}

.slogan{
  text-align:center;
  margin-top:20px;
  font-size: 50px;
  font-family: "Whitney", sans-serif;
  font-weight: bold;
}

.landing_intro{
  font-family: "Merriweather", sans-serif;
  font-size:20px
}

.intro{
  margin-right: 20px;
  font-size: 20px;
}

.flex-container{
  display: flex;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Merriweather, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:200px;
  font-size: 20px;
  text-align:center;
  color:black;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.landing-carousel {
  margin-top:15px;
  margin-left:25%;
  margin-right:12%;
  width:55%;
  // position: absolute;
  height: 45%;
  padding-left: 20px;
  padding-right:20px;
  margin-bottom: 10px;
}     

.row {
  display: flex;
}

.column {
  flex: 50%;
}


.start_button{
  padding:10px;
  margin-left:45%;
  margin-right: 45%;
  width:100%;
}


.customize_navbar{
  background-color: #385988;
  color:white;
}

.calendar_details_overview{
  text-align: center;
}


.login_page {
  margin-top: 75px;
}

footer{
  background-color: #385988;
  margin-top: 5em;
  color: white;
  padding-top:8px;
  text-align: center;
  height:10px;
  width:100%;
}

/* Rounded border */
hr.rounded {
  border-top: 5px solid #bbb;
  border-radius: 5px;
}